<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-header align-middle d-flex justify-content-between">
            <h2>All Unverified Students</h2>
            <a class="common-btn" href="/"
              ><i class="fas fa-arrow-left"></i> Home</a
            >
          </div>

          <table class="table table-striped student-data-table">
            <tr class="align-middle">
              <th>#</th>
              <th>Photo</th>
              <th>Name</th>
              <th>Email</th>
              <th>Cell</th>
              <th>Location</th>
              <th>Action</th>
            </tr>

            <% students.reverse().forEach((student , index) => { %>

            <tr class="align-middle">
              <td><%= index + 1 %></td>

              <td>
                <% if (student.photo == "avatar.png") { %>
                <img class="avatar" src="/images/<%= student.photo %>" />

                <% } else { %>
                <img
                  class="avatar"
                  src="/images/students_image/<%= student.photo %>"
                />
                <% } %>
              </td>

              <td><%= student.name %></td>
              <td><%= student.email %></td>
              <td><%= student.cell %></td>
              <td><%= student.location %></td>
              <td>
                <a class="btn btn-sm btn-info" href="/<%= student.id %>"
                  ><i class="fas fa-eye"></i
                ></a>
                <a class="btn btn-sm btn-warning" href="/edit/<%= student.id %>"
                  ><i class="fas fa-edit"></i
                ></a>
                <a
                  class="btn btn-sm btn-danger delete-btn"
                  href="/delete/<%= student.id %>"
                  ><i class="fas fa-trash"></i
                ></a>
              </td>
            </tr>

            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
